header {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 25px;
    text-align: center;
}

body {
    background-color: darkcyan;
    color: lightcyan;
}

.color {
    background-color: darkslateblue;
}

h3 {
    text-align: center;
}

#search-column {
    margin-top: 25px;
}

#display-column {
    margin-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
}

#form-container {
    border-style: solid;
    padding: 20px;
}

#button-container {
    border-style: solid;
    padding: 20px;
}

ul {
    list-style-type: square;
}

#current-weather {
    border-style: solid;
    padding: 20px;
}

#current-weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;    
}

#five-day-forecast {
    border-style: solid;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;

}

#first-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

#second-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

#third-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

#forth-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

#fifth-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

#first-day-date {
    text-align: center;
}

#first-day-icon {
    display: flex;
    justify-content: center;
}

#second-day-date {
    text-align: center;
}

#second-day-icon {
    display: flex;
    justify-content: center;
}

#third-day-date {
    text-align: center;
}

#third-day-icon {
    display: flex;
    justify-content: center;
}

#forth-day-date {
    text-align: center;
}

#forth-day-icon {
    display: flex;
    justify-content: center;
}

#fifth-day-date {
    text-align: center;
}

#fifth-day-icon {
    display: flex;
    justify-content: center;
}