/*  */
header {
    padding: 20px;
    text-align: center;
    background-color: darkslateblue;
    border-bottom: solid;
}

/*  */
h1 {
    margin-top: 25px;
    text-align: center;
}

/*  */
body {
    background-color: darkcyan;
    color: white;
}

/*  */
.color {
    background-color: darkslateblue;
}

/*  */
h3 {
    text-align: center;
}

/*  */
#search-column {
    margin-top: 25px;
}

/*  */
#display-column {
    margin-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
}

/*  */
#form-container {
    border-style: solid;
    padding: 20px;
}

/*  */
#search-form {
    border-style: solid;
    background-color: darkcyan;
    padding: 10px;
}

/*  */
#button-container {
    border-style: solid;
    padding: 10px;
}

/*  */
#buttons {
    border-style: solid;
    background-color: darkcyan;
    /* display: flex;
    justify-content: space-around; */
}

/*  */
.btn {
    margin: 10px;
}

/*  */
ul {
    list-style-type: square;
}

/*  */
#current-weather {
    border-style: solid;
    padding: 20px;
}

/*  */
#current-weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}

/*  */
#current-weather-info {
    padding-top: 10px;
    background-color: darkcyan;
    border-style: solid;
}

/* Forecasted weather container's styling */
#forecasted-weather {
    border-style: solid;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;

}

/* First day's forecast information styling */
#first-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

/* Second day's forecast information styling */
#second-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

/* Third day's forecast information styling */
#third-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

/* Forth day's forecast information styling */
#forth-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

/* Fifth day's forecast information styling */
#fifth-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

/* Sixth day's forecast information styling */
#sixth-day-forecast {
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: darkcyan;
}

/* First day's date styling */
#first-day-date {
    text-align: center;
}

/* First day's forecasted weather icon styling */
#first-day-icon {
    display: flex;
    justify-content: center;
}

/* Second day's date styling */
#second-day-date {
    text-align: center;
}

/* Second day's forecasted weather icon styling */
#second-day-icon {
    display: flex;
    justify-content: center;
}

/* Third day's date styling */
#third-day-date {
    text-align: center;
}

/* Third day's forecasted weather icon styling */
#third-day-icon {
    display: flex;
    justify-content: center;
}

/* Forth day's date styling */
#forth-day-date {
    text-align: center;
}

/* Forth day's forecasted weather icon styling */
#forth-day-icon {
    display: flex;
    justify-content: center;
}

/* Fifth day's date styling */
#fifth-day-date {
    text-align: center;
}

/* Fifth day's forecasted weather icon styling */
#fifth-day-icon {
    display: flex;
    justify-content: center;
}

/* Sixth day's date styling */
#sixth-day-date {
    text-align: center;
}

/* Sixth day's forecasted weather icon styling */
#sixth-day-icon {
    display: flex;
    justify-content: center;
}

/* If the device's screen size width is less than or equal to 768px, then apply these styling settings */
@media screen and (max-width: 768px) {
    /* Changing the current weather icon's border properties */
    #current-weather-icon {       
        border-style: none;
        border-top: solid;
        border-left: solid;
        border-right: solid;
    }
}